<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();

            socket.on('newMessage', () => {
                location.reload();
            });
        });
    </script>
</head>
<body>
<h1>Chat as <%= userRole %></h1>

<div>
    <h2>Messages</h2>
    <div>
        <h3>Messages to/from User</h3>
        <ul>
            <% userMessagesToShow.forEach(message => { %>
                <li><%= message %></li>
            <% }) %>
        </ul>
    </div>
    <div>
        <h3>Messages to/from Admin</h3>
        <ul>
            <% adminMessagesToShow.forEach(message => { %>
                <li><%= message %></li>
            <% }) %>
        </ul>
    </div>
</div>

<form action="/chat/messages" method="POST">
    <input type="hidden" name="role" value="<%= userRole %>">
    <input type="text" name="message" placeholder="Type your message">
    <button type="submit">Send</button>
</form>
</body>
</html>
