<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Deposit Conditions</title>
</head>
<body>
<h1>Create Deposit Conditions</h1>
<form action="/deposit/add-deposit-condition" method="post" id="depositConditionForm">
	<label for="depositConditionName">Deposit Condition Name:</label>
	<input type="text" id="depositConditionName" name="depositConditionName" required/><br/><br/>

	<label for="depositType">Deposit Type:</label>
	<select id="depositType" name="depositType" required>
		<% depositConditions.forEach(depositCondition => { %>
			<option value="<%= depositCondition.deposit_types.id %>">
				<%= depositCondition.deposit_types.deposit_type_name %>
			</option>
		<% }) %>
	</select>
	<br/><br/>

	<label for="percentagePerYear">Percentage per Year:</label>
	<input type="number" id="percentagePerYear" name="percentagePerYear" required/><br/><br/>

	<label for="currency">Currency:</label>
	<select id="currency" name="currency" required>
		<% depositConditions.forEach(depositCondition => { %>
			<option value="<%= depositCondition.currency %>">
				<%= depositCondition.currency %>
			</option>
		<% }) %>
	</select>
	<br/><br/>

	<button type="submit">Create Deposit Conditions</button>
</form>

<script>
	document.getElementById("depositConditionForm").addEventListener("submit", function (event) {
		event.preventDefault();

		var userData = {
			depositConditionName: document.getElementById("depositConditionName").value,
			depositType: document.getElementById("depositType").value,
			percentagePerYear: parseFloat(document.getElementById("percentagePerYear").value),
			currency: document.getElementById("currency").value,
		};

		if (
				!isNaN(userData.percentagePerYear) &&
				userData.percentagePerYear > 0
		) {
			fetch("/deposit/add-deposit-condition", {
				method: "POST",
				headers: {"Content-Type": "application/json"},
				body: JSON.stringify(userData),
			})
					.then((response) => response.json())
					.then((data) => {
						alert(data.message || data.error);
					})
					.catch((error) => console.log("Error: ", error));
		} else {
			alert("Please enter valid values");
		}
	});
</script>
</body>
</html>
