<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Результат расчета кредита</title>
</head>
<body>
<h1>Результат расчета кредита</h1>
<p>Сумма кредита: <%= amount %></p>
<p>Процентная ставка: <%= interestRate %> %</p>
<p>Срок кредита: <%= years %> лет</p>
<p>Ежемесячный платеж: <%= monthlyPayment.toFixed(2) %></p>
<a href="/">Назад к калькулятору</a>
</body>
</html>
