<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Transfer Money</title>
	</head>
	<body>
		<h1>Transfer Money</h1>
		<form id="transferForm">
			<label for="fromAccount">From Account:</label>
			<select id="fromAccount" name="fromAccount">
				<% accounts.forEach((account) => { %>
				<option value="<%= account.id %>"><%= account.id %></option>
				<% }); %>
			</select>
			<br /><br />
			<label for="balance">Balance:</label>
			<span id="balanceDisplay">Select an account to view balance</span>
			<br /><br />
			<label for="toAccount">To Account:</label>
			<input type="text" id="toAccount" name="toAccount" required />
			<br /><br />
			<label for="amount">Amount:</label>
			<input type="number" id="amount" name="amount" required />
			<br /><br />
			<button type="submit">Transfer</button>
		</form>

		<script>
			document
				.getElementById("fromAccount")
				.addEventListener("change", async function () {
					const accountId = this.value;
					try {
						const response = await fetch(`/account/balance/${accountId}`);
						if (!response.ok) {
							throw new Error("Network response was not ok");
						}
						const data = await response.json();
						document.getElementById(
							"balanceDisplay"
						).textContent = `Balance: ${data.balance}`;
					} catch (error) {
						console.error("Error fetching balance:", error);
						document.getElementById("balanceDisplay").textContent =
							"Error loading balance";
					}
				});

			document
				.getElementById("transferForm")
				.addEventListener("submit", async function (event) {
					event.preventDefault();

					const formData = new FormData(this);
					const transferData = {
						fromAccountId: parseInt(formData.get("fromAccount")),
						toAccountId: parseInt(formData.get("toAccount")),
						amount: parseInt(formData.get("amount")),
					};

					try {
						const response = await fetch("/account/transfer", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify(transferData),
						});

						const responseData = await response.json();
						alert(responseData.message);
					} catch (error) {
						console.error("Error:", error);
						alert("An error occurred. Please try again later.");
					}
				});
		</script>
	</body>
</html>
