<!DOCTYPE html>
<html>
	<head>
		<title>User dashboard</title>
		<script src="/socket.io/socket.io.js"></script>
	</head>

	<body>
		<h1>User Page</h1>
		<script>
			const socket = io();

			socket.emit("register", "user");

			socket.on("notification", (data) => {
				alert(data.message);
			});
		</script>
	</body>
</html>
