<!DOCTYPE html>
<html lang="en">
<head>
	<title>User dashboard</title>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<h1>User Page</h1>
<div>
	<a href="/chat/user">chat</a>
	<br>
	<a href="/credit/take-credit">Take Credit</a>
	<br>
	<a href="/account/transfer-money">Transfer Money</a>
	<br>
	<a href="/deposit/take-deposit">Take Deposit</a>
	<br>
	<a href="/auth/logout">LOGOUT</a>
	<br>
</div>
<script>
	const socket = io();
	socket.emit("register", "user");

	socket.on("notification", (data) => {
		alert(data.message);
	});
</script>
</body>
</html>
